.contact_section {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	padding: 2rem;

	.contact_container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-inline: 2rem;
		margin-top: 2rem;
		width: 100%;
		border-radius: 12px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
		border-bottom: 5px solid var(--theme-main-color);
		gap: 1rem;

		.title {
			font-weight: 700;
			font-size: 2rem;
			padding: 3rem;
			text-align: center;
		}

		.description {
			max-width: 80rem;
			font-size: 1.6rem;
			text-align: center;
			padding: 3rem;
		}

		.box {
			width: 90%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: 1rem;
			gap: 1.5rem;
			border-bottom: 1px solid #eee;
			cursor: pointer;
			transition: all 0.5s;
			border-radius: 12px;

			p {
				display: inline-block;
				position: relative;
				font-size: 1.6rem;
				text-align: center;
			}

			.site {
				font-size: 1.8rem;
				font-weight: 700;
			}

			.site::before,
			.site::after {
				content: '';
				position: absolute;
				width: 0;
				bottom: -8px;
				border-bottom: 3px solid var(--theme-main-color);
				transition: all 0.5s;
			}

			.site::before {
				left: 50%;
			}
			.site::after {
				right: 50%;
			}
		}

		.box:hover .site::before,
		.box:hover .site::after {
			width: 50%;
		}
	}
}
