.news_section {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 10rem;
	padding: 2rem;

	.news_container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 1024px) {
	.news_section {
		.news_container {
			justify-content: space-between;
			flex-wrap: nowrap;
			gap: 2rem;
		}
	}
}
