.news_section {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	padding: 2rem;

	.news_container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
	}

	.news_more {
		text-align: right;
		font-size: clamp(1.8rem, 1.435vw + 1.298rem, 2.4rem);
	}
}

@media screen and (min-width: 1024px) {
	.news_section {
		.news_container {
			justify-content: space-between;
			flex-wrap: nowrap;
			gap: 2rem;
		}
	}
}
