.promo_section {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	padding: 2rem;

	.promo_container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.promo_section {
		.promo_container {
			justify-content: space-between;
			gap: 2rem;
		}
	}
}
