.image_box {
	position: relative;
	width: 100%;
	aspect-ratio: 2 /1;

	.img {
		border-radius: 20px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
	}
}

@media screen and (min-width: 1024px) {
	.promo {
		margin-block: 5rem;
	}
}
