.footer {
	position: relative;
	margin-top: 10rem;
	width: 100%;
	background-color: #222222;
	border-top: 5px solid var(--theme-main-color);
	color: white;

	.wrapper {
		position: relative;
		width: 100%;
		padding: 3rem 2rem;
		gap: 5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.logo_container {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}

		.socials_container {
			position: relative;
			display: flex;
			width: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2rem;
			gap: 2rem;

			p {
				text-align: center;
				display: block;
				width: 100%;
				font-size: 1.6rem;
			}

			.socials {
				position: relative;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 2rem;

				.reference {
					transition: transform 0.3s ease-in-out;
				}

				.reference:hover {
					transform: translateY(-5px);
				}
			}
		}

		.links {
			position: relative;
			width: 100%;

			ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 1rem;
				li {
					.link {
						position: relative;
						font-size: 1.6em;
						color: white;
					}

					.link::before,
					.link::after {
						content: '';
						position: absolute;
						width: 0;
						bottom: -8px;
						border-bottom: 3px solid var(--theme-main-color);
						transition: all 0.5s;
					}

					.link::before {
						left: 50%;
					}
					.link::after {
						right: 50%;
					}

					.link:hover::before,
					.link:hover::after {
						width: 50%;
					}
				}
			}
		}

		.disclaimer {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 1rem;
			gap: 2rem;

			.description {
				position: relative;
				display: inline-block;
				font-size: 1.6rem;
			}

			.mail {
				position: relative;
				display: inline-block;
				cursor: pointer;
				font-size: 1.6rem;

				.alert {
					position: absolute;
					top: 30px;
					left: 50%;
					transform: translateX(-50%);
					background: var(--theme-main-color);
					color: black;
					padding: 0.5rem 1rem;
					border-radius: 12px;
					font-size: 1.4rem;
				}
			}

			.mail::before,
			.mail::after {
				content: '';
				position: absolute;
				width: 0;
				bottom: -8px;
				border-bottom: 3px solid var(--theme-main-color);
				transition: all 0.5s;
			}

			.mail::before {
				left: 50%;
			}
			.mail::after {
				right: 50%;
			}

			.mail:hover::before,
			.mail:hover::after {
				width: 50%;
			}
		}
	}
}

@media screen and (min-width: 968px) {
	.footer {
		.wrapper {
			flex-direction: row;
			justify-content: space-between;
			gap: 0;
			padding-inline: 0;
			height: 20rem;

			.logo_container {
				height: 100%;
				border-right: 1px solid rgb(247, 219, 0, 0.3);
			}
			.socials_container {
				height: 100%;
				border-right: 1px solid rgb(247, 219, 0, 0.3);
			}

			.links {
				height: 100%;
				border-right: 1px solid rgb(247, 219, 0, 0.3);

				ul {
					height: 100%;
					justify-content: space-between;
				}
			}

			.disclaimer {
			}
		}
	}
}
