.hero {
	position: relative;
	display: flex;
	width: 100%;
	height: calc(100vh - 122px);
	padding-top: 122px;
	min-height: 600px;
	max-height: 1280px;
	background-image: url(../../../../public/hero.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;

	.gradient {
		position: absolute;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, rgba(247, 219, 0, 1) 0%, rgba(247, 219, 0, 0.1) 100%);
	}

	.main {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		z-index: 10;
		/* margin-top: 122px; */
		height: 100%;

		.title {
			display: block;
			font-size: 10rem;
			/* font-size: clamp(3.2rem, 7.656vw + 0.521rem, 6.4rem); */
			color: var(--font-second-color);
			text-align: center;
			font-weight: 700;
			text-shadow: 0px 3px 10px rgb(0, 0, 0);
		}

		.main_image {
			display: block;
			width: 30rem;
			height: calc(30rem * 3 / 8);
			object-fit: cover;
			/* box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 1); */
		}
	}
}

@media screen and (min-width: 640px) {
	.hero {
		min-height: 800px;

		.main {
			.main_image {
				width: 50rem;
				height: calc(50rem * 3 / 8);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.hero {
		padding-top: 0;
		.main {
			height: 100%;
			margin-top: 0;
			padding: 2rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		min-height: 500px;

		.main {
			flex-direction: row;
			/* padding: 4rem; */

			.title {
				text-align: left;
				/* font-size: clamp(6.4rem, 2.128vw + 4.221rem, 7.2rem); */
			}

			.main_image {
				width: 40rem;
				height: calc(40rem * 3 / 8);
			}
		}
	}
}

@media screen and (min-width: 1130px) {
	.hero {
		.main {
			.main_image {
				width: 50rem;
				height: calc(50rem * 3 / 8);
				margin-left: 10rem;
			}
		}
	}
}
