.hero {
	position: relative;
	display: flex;
	width: 100%;
	height: 900px;
	padding-top: 122px;
	background-image: linear-gradient(135deg, #f7da0000 0%, #f7da0000 20%, #f7db003a 50%, #f7db001a 100%);
	overflow: hidden;

	.main {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		z-index: 10;
		/* margin-top: 122px; */
		height: 100%;

		.main_titles {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: start;

			.title {
				display: block;
				font-size: clamp(2.4rem, 3.81vw + 1.067rem, 6.4rem);
				width: 100%;
				text-align: center;
				color: black;
				font-weight: 700;
				line-height: 0.95;
				padding: 2rem;
				margin-bottom: 2rem;
				opacity: 0;
				animation: heroText 3s ease forwards;
			}
		}

		.main_image_box {
			position: relative;
			width: 100%;
			padding: 1rem;
			/* width: 65%; */
			height: 100%;

			.main_image {
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0;
				animation: scale-in-center 10s ease-in-out infinite;

				/* box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 1); */
			}
		}
	}
}

.hero::before {
	content: '';
	position: absolute;
	left: 0;
	/* right: 300px;
	bottom: -100px; */
	width: 500%;
	height: 500%;
	opacity: 0.1;
	background:
		radial-gradient(
			at bottom right,
			#f7db00 0,
			#f7db00 125px,
			rgba(247, 219, 0, 0.2) 125px,
			rgba(247, 219, 0, 0.2) 250px,
			rgba(247, 219, 0, 0.75) 250px,
			rgba(247, 219, 0, 0.75) 375px,
			rgba(247, 219, 0, 0.25) 375px,
			rgba(247, 219, 0, 0.25) 500px,
			rgba(247, 219, 0, 0.3) 500px,
			rgba(247, 219, 0, 0.3) 625px,
			rgba(247, 219, 0, 0.75) 625px,
			rgba(247, 219, 0, 0.75) 750px,
			rgba(247, 219, 0, 0.2) 750px,
			rgba(247, 219, 0, 0.2) 875px,
			transparent 875px,
			transparent 1000px
		),
		radial-gradient(
			at top left,
			transparent 0,
			transparent 125px,
			rgba(247, 219, 0, 0.2) 125px,
			rgba(247, 219, 0, 0.2) 250px,
			rgba(247, 219, 0, 0.75) 250px,
			rgba(247, 219, 0, 0.75) 375px,
			rgba(247, 219, 0, 0.3) 375px,
			rgba(247, 219, 0, 0.3) 500px,
			rgba(247, 219, 0, 0.25) 500px,
			rgba(247, 219, 0, 0.25) 625px,
			rgba(247, 219, 0, 0.75) 625px,
			rgba(247, 219, 0, 0.75) 650px,
			rgba(247, 219, 0, 0.2) 750px,
			rgba(247, 219, 0, 0.2) 875px,
			#f7db00 875px,
			#f7db00 1000px,
			transparent 1000px,
			transparent 2500px
		);
	background-blend-mode: multiply;
	background-size:
		1000px 1000px,
		1000px 1000px;
	animation: backgroundMove 60s ease-in-out infinite;
}

@media screen and (min-width: 640px) {
	.hero {
		height: 1100px;

		.main {
			.main_titles {
				.title {
					width: 80%;
				}
			}
			.main_image {
				width: 50rem;
				height: calc(50rem * 3 / 8);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.hero {
		padding-top: 0;

		.main {
			height: 100%;
			margin-top: 0;
			padding: 2rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		height: 600px;

		.main {
			flex-direction: row;

			.main_titles {
				flex-direction: column;
				width: 40%;
				height: 100%;

				.title {
					width: 100%;
					text-align: left;
					padding: 0;
					margin-bottom: 10rem;
				}
			}

			.main_image_box {
				width: 60%;
			}

			/* .main_image {
				width: 40rem;
				height: calc(40rem * 3 / 8);
			} */
		}
	}
}

@media screen and (min-width: 1200px) {
	.hero {
		height: 700px;

		.main {
			.main_titles {
				width: 35%;
			}

			.main_image_box {
				width: 65%;
			}
		}
	}
}

@keyframes scale-in-center {
	0% {
		opacity: 0;
		transform: scale(1) translateY(0);
	}

	5% {
		opacity: 1;
	}

	95% {
		opacity: 1;
		transform: scale(1.05);
	}

	100% {
		opacity: 0;
		transform: scale(1.08) translateY(-10px);
	}
}

@keyframes heroText {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes backgroundMove {
	0% {
		right: 0;
		bottom: 0;
	}

	50% {
		right: -100%;
		bottom: -100%;
	}

	100% {
		right: 0;
		bottom: 0;
	}
}
