.section_title {
	position: relative;
	p {
		font-size: clamp(2.8rem, 1.914vw + 2.13rem, 3.6rem);
		font-weight: 400;
	}

	hr {
		border: none;
		border-top: 5px solid var(--theme-main-color);
	}
}

@media screen and (min-width: 768px) {
	.news_section {
		.section_title {
			hr {
				border-top: 10px solid var(--theme-main-color);
			}
		}
	}
}
