* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-color: var(--background-main-color);
	color: var(--font-main-color);
}

body {
	position: relative;
}

a {
	color: var(--font-main-color);
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}
