.map_container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-inline: 1rem;
	padding-bottom: 3rem;
	margin-top: 5rem;
	width: 100%;
	border-radius: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	border-bottom: 5px solid var(--theme-main-color);
	background-color: rgb(247, 219, 0, 0.05);

	.title {
		font-weight: 700;
		font-size: 2rem;
		padding: 3rem;
		text-align: center;
	}

	.map {
		width: 100%;
		border: none;
		border-radius: 12px;
	}
}
