.service {
	position: relative;

	height: 35rem;
	width: 30rem;
	padding: 1rem;
	background-color: white;
	margin: 2rem;
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 1);

	.image_container {
		position: relative;
		height: 80%;
	}

	.title_container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 20%;

		/* hr {
			display: block;
			border: none;
			border-top: 5px solid var(--theme-main-color);
		} */

		.title {
			text-align: center;
			font-size: clamp(2rem, 1.914vw + 1.33rem, 2.8rem);
		}

		.title::after {
			content: '';
			position: absolute;
			left: 0;
			top: 8px;
			width: 100%;
			height: 4px;
			background-color: #ffd600;
		}
	}
}
