.service {
	position: relative;
	height: 35rem;
	width: 30rem;
	background-color: white;
	margin: 2rem;
	overflow: hidden;

	.image_container {
		position: relative;
		height: 75%;
		padding: 1rem;
		transition: transform 0.5s ease-in-out;
	}

	.title_container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 25%;
		transition: transform 0.5s ease-in-out;

		/* hr {
			display: block;
			border: none;
			border-top: 5px solid var(--theme-main-color);
		} */

		.title {
			text-align: center;

			color: var(--font-main-color);
			font-size: clamp(2rem, 1.914vw + 1.33rem, 2.8rem);
			font-weight: 400;
		}

		.title::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			transform: translateX(5%);
			width: 90%;
			height: 4px;
			background-color: #ffd600;
		}
	}

	.description_container {
		height: 80%;
		padding: 2rem;
		transition: transform 0.5s ease-in-out;
		text-align: center;

		p {
			font-size: clamp(1.2rem, 0.381vw + 1.067rem, 1.6rem);
		}
	}
}

.service:hover {
	cursor: pointer;
}

.service:hover .image_container,
.service:hover .title_container,
.service:hover .description_container {
	transform: translateY(-250px);
}
