.services_section {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	padding: 2rem;

	.services_container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
}
