.services_section {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	padding: 2rem;

	.services_container {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;

		.description {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 2rem;
			margin-top: 5rem;
			gap: 2rem;

			p {
				font-size: clamp(2rem, 1.914vw + 1.33rem, 2.8rem);
				font-weight: 400;
				text-align: center;
			}
		}

		.services {
			padding: 5rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
		}
	}
}

@media screen and (min-width: 576px) {
	.services_section {
		.services_container {
			.description {
				padding: 3rem;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.services_section {
		.services_container {
			.description {
				padding-inline: 20%;
			}
		}
	}
}
