.assortment_section {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	padding: 2rem;

	.assortment_container {
		margin-block: 5rem;
		display: grid;
		width: 100%;
		grid-template-columns: 35% 1fr;
		align-items: stretch;
		gap: 3rem;
		padding: 1rem;

		.list {
			position: relative;

			ul {
				position: relative;
				display: flex;
				flex-direction: column;
				gap: 1rem;

				.item {
					position: relative;
					display: flex;
					justify-content: space-between;
					align-items: center;
					height: 5rem;
					transition: scale 0.3s ease-in-out;
					/* border-left: 1px solid var(--theme-main-color); */

					.button_details {
						width: 75%;
						height: 100%;
						display: flex;
						justify-content: start;
						align-items: center;

						p {
							display: inline-block;
							margin-left: 2rem;
							font-size: clamp(2rem, 1.914vw + 1.33rem, 2.8rem);
						}
					}

					.button_right {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 25%;
						height: 100%;

						.img_right {
							transition: transform 0.5s ease-in-out;
						}
					}
				}

				.item:hover {
					cursor: pointer;
					scale: 1.02;
				}

				.item:hover .button_right .img_right {
					transform: translateX(3rem);
				}

				.item_active {
					border-bottom: 2px solid var(--theme-main-color);
				}
			}
		}

		.details {
			position: relative;
			padding: 2rem;
			transition:
				opacity 500ms ease-in-out,
				transform 500ms ease-in-out;

			.details_img {
				opacity: 0.2;
			}

			.details_title {
				text-align: center;
				/* opacity: 0.2; */
				font-weight: 700;
				font-size: 9.6rem;
			}

			.details_description {
				text-align: center;
				font-size: clamp(2rem, 1.914vw + 1.33rem, 2.8rem);
				margin-top: 5rem;
			}

			.hashtags {
				position: relative;

				margin-top: 10rem;

				ul {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					.hashtags_element {
						display: inline-block;
						color: white;
						background-color: var(--theme-main-color);
						font-size: clamp(2rem, 1.914vw + 1.33rem, 2.8rem);
						padding: 0.5rem 2rem;
						margin: 1rem;
						border-radius: 2rem;
					}
				}
			}
		}

		.detailsHidden {
			opacity: 0;
			transform: translateY(10px);
		}
	}
}
