.description {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin-top: 5rem;
	gap: 2rem;

	.second_heading,
	.third_heading {
		font-size: clamp(2rem, 1.914vw + 1.33rem, 2.8rem);
		font-weight: 400;
		text-align: center;
	}

	strong {
		font-weight: 700;
		color: var(--theme-main-color);
	}
}

@media screen and (min-width: 576px) {
	.description {
		padding: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.description {
		padding-inline: 20%;
	}
}
